<div class="main-content">
    <div class="container-fluid">
        <div class="row">
       
         

            <!-- <form>
                <div class="row" class="col-md-6">
                    <input type="text" placeholder=" Name" [(ngModel)]="etud.nomE"
                        [ngModelOptions]="{standalone : true}">
                </div>
                <div class="row" class="col-md-6">
                    <input type="text" placeholder="Prenom" [(ngModel)]="etud.prenomE"
                        [ngModelOptions]="{standalone : true}">
                </div>
                <input disabled matInput >
                <input
                  type="file"
                  (change)="handleProfilePictureInput($event.target.files)" formControlName="image">
                <img id="importer" class="profile-picture" [src]="etud.image">
            
             
                <br>
                <button type="button" class="btn btn-success" (click)="addEtudiant(etud)">Add</button> 
                <button type="button" class="btn btn-info">Cancel</button>
            </form>
                 -->
            <form #f="ngForm">
                <label> nomE </label>
                <input name="nomE" required minlength="3" pattern="[a-zA-Z]*" [(ngModel)]="etud.nomE"  #nomE="ngModel"/>  
                <div *ngIf="nomE.invalid && nomE.touched" >
                    <div *ngIf="nomE.errors?.['required']" >
                required</div>
                
                <div *ngIf="nomE.errors?.['minlength']" >
                minlength
                </div>
                
                
                <div *ngIf="nomE.errors?.['pattern']" >
                pattern
                </div>
                
                
                </div>
                
                <br>
                <label>Prenom</label>
                <input name="prenomE" required minlength="3"  pattern="[a-zA-Z]*" [(ngModel)]="etud.prenomE" #prenomE="ngModel" />      
                <br>
                <input type="submit"  value="save" [disabled]="f.invalid" (click)="addEtudiant(f.value)"> 
                </form>



































            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Listes des Etudiants</h4>
                      
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>Prenom</th>
                                    <th>Nom</th>
                                  
                                </thead>
                                <tbody>
                                    <tr *ngFor='let p of listEtudiants'>
                                
                                        <td>{{p.prenomE}}</td>
                                        <td>{{p.nomE}}</td>
                                        <td>{{p.image}}</td>
                                    
                                   
                                        <td><button  mat-raised-button class="btn btn-success"> 
                                            <i class="material-icons" >edit</i></button> 
                                      
                                           
                                          
                                      
                                <button mat-raised-button  rel="tooltip"  class="btn btn-danger" (click)="deleteEtudiant(p.idEtudiant)"><i class="material-icons">delete</i></button> 
                                <button mat-raised-button  rel="tooltip"  class="btn btn-danger" (click)="GetEtudiantByID(p.idEtudiant)">details</button> 
                
                                  
                                                
                                                  
                                    
          
                                                  
                                    
                                    </tr>
                                    
                                
                                           
    
                                    
                                   
                                   
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  